* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Digital";
    src: url(/assets/font/digital-7-font/Digital7Mono-B1g5.ttf) format("woff");
}

body {
    background-image: url(/assets/img/RuptureFarms-bg.png);
    background-position: top center;
    background-attachment: scroll;
}

.header {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.message {
    margin: 30px 5px;
}

marquee {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 90%;
    border: #2F3234 solid 10px;
    border-radius: 10px;
    background-color: black; 

}

.screen {
    display: block;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: #2F3234 solid 10px;
    border-radius: 20px;
    background-color: black;
    text-align: center;
}

p,
marquee {
    font-family: "Digital", sans-serif;
    color: #0B8B2A;
    font-size: 30px;
    text-align: right;
    padding: 5px;
}

span {
    color: red;
}

.buttons {
    display: flex;
    margin: 0 auto;
    width: 300px;
    justify-content: space-between;
}

button {
    padding: 10px 20px;  
    border: #2F3234 solid 10px;
    border-radius: 20px;
    background-color: black;
    text-align: center;
    color: grey;
    font-size: 20px;
    font-family: "Digital", sans-serif;
}

.display {
    margin-bottom: 50px;
}

@media only screen and (min-width: 501px) and (max-width: 1299px) {
    .message {
        margin: 50px; 
    }
    marquee {
        height: 65px;
        border-radius: 20px;
    }
    .screen,
    .buttons {
        width: 400px;
    }
    p,
    marquee {
        font-size: 45px;
    }
    button {
        padding: 10px 40px;
    }
}

@media only screen and (min-width: 1300px) {
    .header {
        padding-top: 50px;
    }
    .message {
        margin: 100px 50px;
    }
    marquee {
        height: 65px;
        border-radius: 20px;
    }
    .screen,
    .buttons {
        width: 400px;
    }
    p,
    marquee {
        font-size: 50px;
    }
    button {
        padding: 10px 40px;
    }
}